.board {
  width: 330px;
  height: 330px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
