.navbar-container {
  width: 100%;
  height: 2.5rem;

  display: flex;
  position: absolute; /* or fixed */
  top: 0;
  justify-content: center;
}
.navbar {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-item {
  display: flex;
  width: 33%;
}

.navbar-item-center {
  justify-content: center;
}
.navbar-item-right {
  justify-content: end;
}

.navbar-list {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: start;
  list-style: none;
  padding: 0;
}
.navbar-list:first-child {
  padding-left: 50px;
}
