.room-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  min-height: 100vh;
  padding-top: 40px;

  color: #fff;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.room-wrapper h1 {
  font-size: 28px; /* menor */
  margin-bottom: 8px;
}

.room-wrapper h2 {
  font-size: 22px; /* menor */
  color: #ccc;
  margin-bottom: 20px;
}

body {
  background: #0f0f0f;
}
