.login-page-container {
  min-height: calc(100vh - 2.5rem); /* adjust to your Navbar height */
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
