/* overall container */
.user-page-container {
  width: 100%;
  min-height: 100vh;
  background: white;
}

.user-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-page-player-card {
  margin-bottom: 10rem;
}
