.landing-page {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.landing-page-player-container {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.landing-page-player {
  align-self: center;
}
